.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "header header"
                       "sidebar article"
                       "footer footer";
}

.main-header, .main-footer {
  background-color: #333;
  color: #f9f9f9;
}

.main-header { grid-area: header; }

.sidebar {
  background-color: #ddd;
  grid-area: sidebar;
}

.main { grid-area: article; }
.main-footer { grid-area: footer; }

.main-header, .main-footer, .sidebar, .main {
  padding: 20px;
}